html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1e5fe;
  ;
}


.rodape {
    background-color: #282c4c; /* Cor de fundo do rodapé */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    position: relative; /* Para posicionamento se necessário */
    bottom: 0; /* Para garantir que fique na parte inferior */
    width: 100%; /* Largura total da página */
}










.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #cde0fe;
  border-radius: 5px;
  box-shadow: 0 10px rgb(32, 74, 135, 0.1);
  ;
}

input {
  width: calc(100% - 23x);
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}


html {
  a.meu-link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 10px 20px;
    background-color: #5f6cce;
    color: #ccccff;
    text-decoration: none;
    border-radius: 8px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.banner {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 80%px;
  position: relative;
}

html {
  .logo {
    width: 400px;
    position: absolute;
    top: 300px;
    left: 950px;
  }
}

html {
  .redes-soplay:flex;
  gap: 15px;
}

.redes-sociais img {
  width: 40px;
  height: 40px;
  transition: transfrom 0.3s;
}

.redes-sociais img:hover {
  transform: scale(1.1);
}


html {
  a.meu-link2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px displey: inline-block;
    padding: 10px 20px;
    background-color: #6572d2;
    color: #ccccff;
    text-decoration: none;
  }
  a.meu-link2:hover {
    text-decoration: underline;
  }
}

.texto-com-margem {
  margin: 20px;
  padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}

.texto-com-margem2 {
  margin: 20px;
  padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}
a.meu-link3 {
display:flex ;
  justify-content: center;
  align-items: center;

  margin: 20px;
  padding: 10px 20px;
  background-color: #6572d2;
  color: #ccccff;
  text-decoration: none;
  border-radius: 8px;
}
a.meu-link3:hover {
  text-decoration: underline;
}


.texto-com-margem3 {
margin: 20px;
padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}


.texto-com-margem4 {
margin: 20px;
  padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}



a.meu-link4 {
display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  background-color: #6572d2;
  color: #ccccff;
  text-decoration: none;
  border-radius: 8px;
}
a.meu-link4:hover {
  text-decoration: underline;
}

.texto-com-margem5 {
  margin: 20px;
  padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  }

a.meu-link5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  background-color: #6572d2;
  color: #ccccff;
  text-decoration: none;
  border-radius: 8px;
  }

a.meu-link5:hover {
  text-decoration: underline;
}
  
.texto {
margin: 20px;
  padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}




a.meu-link7 {
display:flex ;
  justify-content: center;
  align-items: center;

  margin: 20px;
  padding: 10px 20px;
  background-color: #c3cafd;
  color: #414192;
  text-decoration: none;
  border-radius: 8px;
}
a.meu-link7:hover {
  text-decoration: underline;
}


body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

header{
  background-color: rgb(108, 157, 197);
}
.navbar{
  display: flex;
  justify-content: center;
  padding: 10 px 0;

}

.navbar ul {
list-style-type: none;
padding: 0;
background-color: rgb(61, 103, 141);
border-radius: 5px;
}

.navbar li {
display: inline;
margin: 0 20px;

}

.navbar a {
text-decoration: none;
color: aliceblue;
padding: 14px 20px;
}

.navbar a:hover {
  background-color: rgb(136, 227, 250);
}

.nav-links a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}


.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Borda inferior opcional */
.navbar {
    border-bottom: 2px solid #7d9fc5; 
}


a.meu-link8 {
display:flex ;
  justify-content: center;
  align-items: center;

  margin: 20px;
  padding: 10px 20px;
  background-color: #6572d2;
  color: #ccccff;
  text-decoration: none;
  border-radius: 8px;
}
a.meu-link8:hover {
  text-decoration: underline;
}


.texto-com-margem8 {
margin: 20px;
padding: 10px;
  border: 1px solid #f5f9ff;
  ;
  border-radius: 15px;
  background-color: #f5f9ff;
  ;
}






/* --- ESTILO PARA O FORMULÁRIO--- */

.form-container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #e487fe;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(63, 3, 78);
  border: #fcf4f4;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 15px;
  font-weight: bold;
  color: #70377c;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(65, 33, 66);
  background-color: #f9eff8;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 25px;
  padding: 12px;
  font-size: 18px;
  background-color: #a94fb7;
  color: #f4cefa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button :hover {
  background-color: #ffffff;
}

              

